# Gradle
.gradle/
build/
out/


# IDEA
.idea/
*.iml
*.iws

# Eclipse
.settings/
.classpath
.project

# Mac
.DS_Store

# Windows
Thumbs.db

# Logs
*.log
logs/

# Temp files
*.tmp
*.temp

# Selenide reports
build/reports/tests/
build/test-results/

# Local configuration
*.properties